/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ===================================================
   Base styles: opinionated defaults
   ================================================= */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==============================================*/
   /*Browser Upgrade Prompt*/
  

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

                /************** Mobile First ************/


/*=============== GLOBAL STYLES ==============*/

html, body{
    font-family: 'Arimo', sans-serif;
    width:100%;
    height:100%;
    font-size:16px;
    background-color:#ffffff;
    color:#383838;

}

 header{
    width:96%;
    padding:2% 2%;
}


h1 {
    color:#282828;
    font-size:1.5em;
}


h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h2, h3, h4{
    color:tomato;
    font-size:1.4em;
}

figure {
    margin:0;
}

img {
 width: 100%;
 height: auto;
}


a:link,i:link,.fab:link, .fa:link{
    color:tomato;
}  

a:hover,i:hover, .fab:hover, .fa:hover   {
    color:rgb(242, 162, 13);
    cursor:pointer;
}  



.header-info{
    width:96%;
    padding:0 2%;
    max-width:940px;
}




/*=============================== HEADER ======================================*/

.header-container{
   width:100%;
   margin:0 auto;
   padding:2% 0;
   background-color:#e0e0e0;
}

.header-images{
    width:90%;
    padding-bottom:35%;
    margin:0 auto;
     background: #f8f8f8 url('../img/hero.png') center no-repeat ; 
   background-size:cover;

}


.header-logo{
    width:100%;
    margin:0;
}

.header-logo img{
    width:30%;
    height:auto;
    margin:5% 0 0 60%;
    max-width:200px;
}

.header-info{
    font-size:1em;
    margin:0 auto;
}

.header-info h1{
    padding:0 2%;
}


.header-info span{
    color:rgb(242, 162, 13);
}






/*=================== Header Nav ======================*/


  @media only screen and (max-width:600px){

.menu{
    margin-left:70%;
    text-align:center;
    text-transform: uppercase;

}



.menu a:hover, .menu i:hover {
    color:rgb(242, 162, 13);
}


.menu a{
    color:tomato;
    text-decoration: none;
    font-size:0.875em;
    font-weight:700;
}

.menu i{
    color:tomato;
    font-size:1.5em;
    
}

.nav {
   display:none;
   position:fixed;

}

.nav:target {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    bottom:0;
    overflow:100%;
    background-color:rgba(0, 0, 0, 0.4);

}

nav .back {
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    left:0;

}


nav{
    font-size:2em;
    font-weight:700;

}


nav ul{
    list-style:none;
    background-color:#282828;
    z-index:1;
    padding:0;
    margin:50% 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
     
}

nav ul li{
    display:block;
    line-height:2em;
    text-transform:uppercase;



}

nav ul li a{
    text-decoration:none;
    position:relative;

 
}

} /*End of Mobile Nav Style*****/

/*=============================== ABOUT ======================================*/

#about{
    width:96%;
    padding:0;
    margin:1em auto;
    max-width:940px;
}

#about h2{
    margin:0.5em 1em;
}



.about-container{
    width:96%;
    margin:0 auto;
}

.about-img{
    float:left;
    border-radius:50%;
    width:40%;
    shape-margin:1px;
    margin-right:2%;
    margin-bottom:0.5%;
    shape-outside:inset(1% round 100%);
}

div.half-width1, div .half-width2{
    width:100%;
    display:block;
    text-align:justify;
    font-size:1em;
    line-height:1.6;
    padding:0 1%;

}


.half-width1 {    
    margin-bottom:0;
    float:right;
    margin-left:20%;
}


.half-width2{  
    margin-top:0;
    float:left
    
}



/*================================ WORK ======================================*/

#work {
    clear:both;
    width:100%;
    background:rgba(242, 162, 13, 0.6);
}

.full-width{
    width:96%;
    padding: 1% 2%;
}

.third-width{
    width:80%;
    text-align:justify;
       margin:0 8%;
}


#work h2{
    color:tomato;
    margin:0.5em 1em;

}


#work h3{
    text-align:center;
    color:#484848;
    font-weight:700;
    font-size:1.2em;
}

.add-skills{
    color:#282828;
    margin:2em 0 1em 0;
}

.add-skills span{
    font-weight:700;
}


        /* ===================================================
            BLOG page
        ===================================================== */

        

        /*=============== Blog Header ==============*/

        #blog header{
            width:100%;
            padding:2% 0; 
            margin:0 auto;
            background-color:#e0e0e0;
            float:left;

        }

        .blog-logo img{
            float:left;
            width:30%;
        }

        #blog nav{
            width:60%;
            margin:8% 2%;
            float:left;
            font-size:0.875em;
            line-height:1em;
        }

        #blog ul{
            float:left;
            width:100%;
            background-color:#e0e0e0;;
            margin:0;
            border:none;
        }

        #blog li{
            display:inline;
            padding:0 2.5%;
        }

        #blog a{
            color:tomato;
        }

        #blog a:hover{
            color:rgb(242, 162, 13);
        }

        #blog nav span{
            color:#282828;
        }

        aside {
            clear:both;
        }














/*================================ FOOTER ======================================*/

footer#contact{
     width:100%;
     float:left;
     background:#e0e0e0;
}

.socials{
    width:20%;
    float:left;
    margin:5% 0 5% 5%;

}


.socials ul{
    list-style:none;
    display:block;
    float:left;
    width:100%;
    padding:0;
    margin:0;
    
}


.socials ul li{
    display:inline;
    padding-right:10%;

}


.fab.fa-linkedin-in, .fab.fa-github {
    color:tomato;
    font-size:1.5em;
}

.fab.fa-linkedin-in:hover, .fab.fa-github:hover {
    color:rgb(242, 162, 13);
    font-size:1.5em;
}


.footer-logo{
    width:55%;
    float:right;
    margin: 2% 2% 2% 18%;


}


#contact img{
    width:25%;
    max-width:80px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width:600px) {
  /* Tablet styles here */


/*================ TABLET Header =========================== */

.header-info h1{
    font-size:2em;
    padding:0 10%;

}

.header-images{
    width:90%;
    padding-bottom:28%;
}

.menu i{
    display:none;

}

#menu{
    display: none;
}

.nav {
    display:block;
}

nav{
    font-size:1em;
    display:block;
    width:100%;
    height:1.5em;

}


nav ul{
    list-style:none;
    padding:0;
    margin:0 auto;
    width:60%;
    float:right;
}

nav ul li{
    display:inline;
    text-transform:uppercase;
    font-weight:700;
    padding:0;
    margin-left:5%;
}

nav ul li a{
    color:tomato;
    text-decoration:none;
    padding:0;
    text-align:center;
}




/*=========================== TABLET WORK ======================================*/

#work {
    clear:both;
    width:100%;
    background:rgba(242, 162, 13, 0.6);
    display:block;
    float:left;
    padding:0;
    margin:0 auto;
}

#work h2{
    color:tomato;
    margin:0.5em 1.4em;

}

.work-container{
    width:96%;
    padding:0 0 0 4%;
    margin:0 auto;
}

.full-width{
    width:100%;
    margin:0 auto;
    padding:0;
    max-width:1000px;

}

.third-width{
    width:30%;
    display:block;
    float:left;
    margin:0;
    padding:0 1%;
    text-align:left;
}

.third-width p{
    padding-right:2%;
}

#width1 p{
    border-right:1px solid #484848;;
}

#width2 p{
    border-right:1px solid #484848;;
}

#width3{
    padding-right:0;
}

#work h3{
    text-align:center;
    color:#484848;
    font-weight:700;
    font-size:1.2em;
}

.add-skills{
    width:90%;
    display:block;
    float:left;
    color:#282828;
    margin:1% 5%;
}

.add-skills span{

    font-weight:700;
}




/*================     TABLET   Footer   =========================== */

footer{
    clear:both;
}

.fab.fa-linkedin-in{
    font-size:2em;
    color:tomato;
}

.fab.fa-github{
    font-size:2em;
    color:tomato;
}

.socials{
    margin:3% 0 2% 4%;

}

.footer-logo{
    margin: 1% 0 1% 21%;
}

/*================  TABLET  About =========================== */

/*

.half-width1, .half-width2{
    display:block;
    float:left;
}


.half-width1{
    width:40%;
    padding:0 2%;
}

.half-width2{
    width:50%;
    padding:0 0 0 2%;
}

.halfwidth2 p{
    width:77%;
    display:inline;
    text-align:justify;

}

.about-img {
    width:50%;
    float:right;
    shape-outside:url('../img/cwoodprof.png');
    shape-margin:1%;
    margin-left:;
    margin-bottom:;

}


*/


  

}/******* END OF TABLET ******/

@media only screen and (min-width:940px) {
  /* Desktop styles here */


/*================    DESKTOP   HEADER  =========================== */

.header-images{
    padding-bottom:25%;
}

                @media only screen and (min-width:1200px) {
                
                .header-images{
                    width:70%;
                    padding-bottom:20%;
                }



.header-info h1{
    font-size:2em;
    padding:0 5%;

}




nav ul{

    width:50%;

}

nav ul li{
    margin-left:7%;
}


/*================    DESKTOP  Work  =========================== */ 


.add-skills{
    width:80%;
    margin:1% 10%;
}




}/******* END OF DESKTOP ******/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
